@tailwind base;
@tailwind components;
@tailwind utilities;


.tag-color {
  @apply w-3 h-3 rounded-full mr-2;
}

.tag-color-red {
  --tag-color: theme("colors.red.500");
}
.tag-color-green {
  --tag-color: theme("colors.green.500");
}
.tag-color-blue {
  --tag-color: theme("colors.blue.500");
}
.tag-color-yellow {
  --tag-color: theme("colors.yellow.500");
}
.tag-color-purple {
  --tag-color: theme("colors.purple.500");
}
.tag-color-orange {
  --tag-color: theme("colors.orange.500");
}
.tag-color-pink {
  --tag-color: theme("colors.pink.500");
}
